.servicoFormContainer {
    display: flex;
    flex-direction: column;
}

.servicoFormInput {
    display: flex;
    flex-direction: column;
}

.servicoFormButtom {
    display: flex;
    gap: 1.2rem;
    margin-left: 9.8rem;
}