.servicoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.servicoFormRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}