.servicoCreationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicoCreationDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}